*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container-fluid{
  background-color: rgb(251, 250, 247);
}
.header img{
  width:80px;
}
.right-info{
  margin-left: 800px;
  margin-top: 20px;
}
.right-info span{
  margin-left: 40px;
  font-size: 17px;
}
nav{
  width: 100%;
}
.nav{
  background-color: rgb(255, 255, 255);
  height: 60px;
}
.nav a{
  color: rgb(56, 166, 255);
  text-decoration: none;
  padding: 10px 20px;
  font-size: 20px;
}
.nav a:hover{
  background-color: rgb(255, 255, 255);
  color:  rgb(67, 210, 220);
}
.banner__img2{
  width: 50%;
  height: 292px;
  margin-left: -5px;
}
.banner__img{
  width: 50%;
  height: 292px;
}

